<style>

    .new{

        width: 700px;


    }
</style>

<section class="vh-100" style="background-color: #dee9ff;">

    

            <!-- <h1 class ="display-4"> Add account</h1> -->


    <div class="container py-1 h-100">
        
        <ol class="breadcrumb"> 
            <li class="breadcrumb-item"> <a href="/dashboarduser/<%= all %>"> Home </a> </li>
            <li class="breadcrumb-item active"> Edit User Profile </li>
            </ol>
        
        <div class="new">
      <div class="">
        <div class=" xl-8">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
        
              <div class="">
                <div class="card-body p-4 p-lg-5 text-black">

                    <form id="updateForm">

                    <!-- <div class="">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #131110;"></i>
                      <span class="h1 fw-bold mb-4"> Add account </span>
                    </div>
   -->
                    
  
                    <div class="form-outline mb-4">
                         <b> <label for="user-acc">User Email Address </label> </b>
                        <input type="text" id="email" name="email" value= "<%= articles.email %>"  class="form-control" >
                    </div>
                    
                    <div class="form-outline mb-4">
                      <b> <label for="user-acc">User Profile </label> </b>
                     <input type="file" id="userProfile" name="userProfile" class="form-control" accept="image/*" placeholder="Update image">
                    </div>

                    <div class="pt-2 mb-4">
                      <button class="btn btn-dark " type="button" onclick="onFormSubmit()" >Submit</button>
                    </div>
                  </form>

                  <script>
                   async function onFormSubmit(event) {
                      const formData = new FormData(updateForm);
                      await fetch('/dashboarduser/edituserprofile/<%= articles.id %>', {
                        method: 'POST',
                        body: formData,
                      })

                      window.location.href = '/dashboarduser/<%= articles.id %>'
                    }
                  </script>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
